*{
    padding: 0;
    margin: 0;
}

html, body {
  overflow-x: hidden;
}

/* making of select option button responsive on small screen */

@media (max-width: 576px) {
      select.form-select {
        font-size: 1.0rem;
        padding: 0.75rem 1rem;
      }
    }




